Flask==0.10.1
Flask-Script==2.0.5
Flask-WTF==0.12
Flask-SQLAlchemy==2.0
Flask-Bcrypt==0.7.1

alembic==0.8.2
hashids==1.1.0
pyOpenSSL==0.15.1
gevent==1.1b6

Flask-SocketIO==0.6.0
Flask-JWT==0.3.0

# -e git+https://github.com/mattupstate/flask-jwt.git#egg=flask-jwt
