Flask==0.10.1
Flask-Script==2.0.5
Flask-WTF==0.12
Flask-SQLAlchemy==2.0
Flask-Bcrypt==0.7.1

alembic==0.8.2
hashids==1.1.0
pyOpenSSL==0.15.1
gevent==1.1b6
gevent-socketio==0.3.6
gevent-websocket==0.9.5
greenlet==0.4.9

Flask-SocketIO==1.0b4
Flask-JWT==0.3.0

# -e git+https://github.com/mattupstate/flask-jwt.git#egg=flask-jwt
