<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="csrf-token" content="{{ csrf_token() }}">
<title>Vidyeo</title>
<link rel="stylesheet" href="{{ assets_for('app.all.css') }}">
</head>
<body>
<div id="app"></div>
<script>
var SITE_URL = "{{ request.url_root }}";
</script>
<script src="{{ assets_for('app.all.js') }}"></script>

{% if config['DEBUG'] %}
    <script type="text/javascript">
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
{% endif %}
</body>
</html>
