import os

DEBUG      = False
SECRET_KEY = "__YOUR__SECRET__KEY__"

SQLALCHEMY_DATABASE_URI = 'sqlite:///%s' % os.path.join(os.getcwd(), 'storage', 'default.sqlite')

JWT_AUTH_URL_RULE = "/api/auth"
JWT_EXPIRATION_DELTA = timedelta(seconds=300)

HASH_IDS_SALT       = "__YOUR__HASH___ID__SALT__"
HASH_IDS_MIN_LENGTH = 8
